@using Instagram_Clone.ViewModels
@model ProfileUserViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Followers & Following List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="tryfollow.css">
</head>
<style>
    .UserName{
        text-decoration:none;
        color:black;
        font-weight:bold;
    }
</style>
<body>
    <div class="container mt-5">
    <form class="form-inline" id="searchForm" method="get" asp-action="SearchFollower" asp-controller="FriendsProfile" asp-route-Id="@Model.Id">
        <input class="form-control me-2" placeholder="Search..." id="NameSearch" name="Name" type="text">
   </form>
    </div>


    <div  class="container mt-5" ">
        <div class="d-flex justify-content-center row">
            <div id="searchResults" class="col-md-6">

    @foreach (var follower in Model.Followers)
    {
        @if (follower.Follower.UserName == ViewBag.UserName )
        {
                        <div class="col-md-6">
                            <div class="p-3 bg-white text-center">
                                <div class="row">
                                    <div class="col-auto">
                                        <img class="rounded-circle" src="/images/@follower.Follower.ProfilePicture.Name" width="55">
                                    </div>
                                    <div class="col">
                                        <div class="d-flex flex-column">
                                            <a class="font-weight-bold UserName" href="/Profile/index">@follower.Follower.UserName</a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        }

        else
        {
                        <div class="p-3 bg-white text-center">
                            <div class="d-flex flex-row justify-content-between align-items-center mt-2 follower-info">
                                <img class="rounded-circle" src="/images/@follower.Follower.ProfilePicture.Name" width="55">

                                <div class="d-flex flex-column align-items-center">
                                    <a class="font-weight-bold UserName" href="/FriendsProfile/index/@follower.FollowerId">@follower.Follower.UserName</a>
</div>
                   @*  @foreach (ApplicationUser user in ViewBag.NonFollowingUsers)
                    {
                        @if (user.Id == Model.Id)
                        {
                                        <div class="switch">
                                            <a href="/follow/FollowUser?id=@Model.Id" >Follow</a>
                                        </div>
                        }
                    }

                    @foreach (ApplicationUser user in ViewBag.FollowingUsers)
                    {
                        @if (user.Id == Model.Id)
                        {
                                        <div class="switch me-2">
                                            <a class="text-light btn btn-secondary">Following</a>
                                        </div>
                                    
                        }
                    } *@
                            </div>
                        </div>
        }
       
    }

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</body>
</html>

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var input = document.getElementById("NameSearch");
        var userId = "@Model.Id"; // Set the current user's Id here

        input.addEventListener("input", function () {
            var searchTerm = input.value;
            fetch("@Url.Action("SearchFollower", "FriendsProfile")?Name=" + searchTerm + "&Id=" + userId)
                .then(response => response.text())
                .then(data => {
                    var tempElement = document.createElement('div');
                    tempElement.innerHTML = data;
                    var followers = tempElement.querySelectorAll('.follower-info');
                    document.getElementById("searchResults").innerHTML = "";
                    followers.forEach(function (follower) {
                        document.getElementById("searchResults").appendChild(follower);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    });
</script>
