@using Instagram_Clone.ViewModels
@model ProfileUserViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="/sass/vender/bootstrap.css">
    <link rel="stylesheet" href="/sass/vender/bootstrap.min.css">
    <link rel="stylesheet" href="/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css">
    <link rel="stylesheet" href="/sass/main.css">
</head>
<style>
    .user-info {
        display: flex;
        justify-content: space-between; /* Add space between username and link */
        align-items: center;
    }

    .name {
        /* No need for margin-right */
    }

    .edit-profile-link {
        background-color: #007bff;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

        .edit-profile-link:hover {
            background-color: #0056b3;
        }


</style>
<body>

    <div class="post_page">
        <div class="nav_menu">
            <div class="fix_top">
                <!-- nav for big->medium screen -->

            </div>
            <!-- menu in the botton for smal screen  -->
            <div class="nav_bottom">
            </div>
        </div>
        <!-- search  -->
        <div id="search" class="search_section">
        </div>
        <!-- search  -->
        <!-- notification -->
        <div id="notification" class="notification_section">
        </div>
        <!--***** nav menu start ****** -->
       
        <!-- search  -->
        <div id="search" class="search_section">
            <h2>Search</h2>
            <form method="post">
                <input type="text" placeholder="Search">
            </form>
            <div class="find">
                <div class="desc">
                    <h4>Recent</h4>
                    <p><a href="#">Clear all</a></p>
                </div>
                <div class="account">
                    <div class="cart">
                        <div>
                            <div class="img">
                                <img src="~/images/@Model.ProfilePicture.Name" alt="">
                            </div>
                            <div class="info">
                                <p class="name">@Model.UserName</p>
                                <p class="second_name">@Model.FirstName  @Model.LastName</p>
                            </div>
                        </div>
                        <div class="clear">
                            <a href="#">X</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- search  -->
        <!-- notification -->
        <div id="notification" class="notification_section">
            <h2>Notifications</h2>
            <div class="notifications">
                <div class="notif follow_notif">
                    <div class="cart">
                        <div>
                            <div class="img">
                                <img src="~/images/@Model?.ProfilePicture.Name" alt="">
                            </div>
                            <div class="info">
                                <p class="name">
                                    @Model.UserName
                                    <span class="desc">started following you.</span>
                                    <span class="time">2h</span>
                                </p>

                            </div>
                        </div>
                        <div class="follow_you">
                            <button class="follow_text">Follow</button>
                        </div>
                    </div>
                </div>
                <div class="notif follow_notif">
                    <div class="cart">
                        <div>
                            <div class="img">
                                <img src="~/images/@Model?.ProfilePicture.Name" alt="">
                            </div>
                            <div class="info">
                                <p class="name">
                                    @Model.UserName
                                    <span class="desc">started following you.</span>
                                    <span class="time">2h</span>
                                </p>

                            </div>
                        </div>
                        <div class="follow_you">
                            <button class="follow_text">Follow</button>
                        </div>
                    </div>
                </div>
                <div class="notif story_notif">
                    <div class="cart">
                        <div>
                            <div class="img">
                                <img src="~/images/@Model?.ProfilePicture.Name" alt="">
                            </div>
                            <div class="info">
                                <div class="info">
                                    <p class="name">
                                        @Model.UserName
                                        <span class="desc">liked your story.</span>
                                        <span class="time">2d</span>
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="story_like">
                            <img src="/images/img2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="notif follow_notif">
                    <div class="cart">
                        <div>
                            <div class="img">
                                <img src="~/images/@Model.ProfilePicture.Name" alt="">
                            </div>
                            <div class="info">
                                <p class="name">
                                    @Model.UserName
                                    <span class="desc">started following you.</span>
                                    <span class="time">2h</span>
                                </p>

                            </div>
                        </div>
                        <div class="follow_you">
                            <button class="follow_text">Follow</button>
                        </div>
                    </div>
                </div>
                <div class="notif story_notif">
                    <div class="cart">
                        <div>
                            <div class="img">
                                <img src="~/images/@Model.ProfilePicture.Name" alt="">
                            </div>
                            <div class="info">
                                <div class="info">
                                    <p class="name">
                                        @Model.UserName
                                        <span class="desc">liked your story.</span>
                                        <span class="time">2d</span>
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="story_like">
                            <img src="/images/img2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="notif follow_notif">
                    <div class="cart">
                        <div>
                            <div class="img">
                                <img src="~/images/@Model.ProfilePicture.Name" alt="">
                            </div>
                            <div class="info">
                                <p class="name">
                                    @Model.UserName
                                    <span class="desc">started following you.</span>
                                    <span class="time">2h</span>
                                </p>

                            </div>
                        </div>
                        <div class="follow_you">
                            <button class="follow_text">Follow</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--** nav menu end *** -->

        <div class="profile_container">
            <div class="profile_info">
                <div class="cart">
                    <div class="img">
                        <img src="~/images/@Model.ProfilePicture.Name" alt="">
                    </div>
                    <div class="info">
                        <div class="user-info">
                            <p class="name" style="font-size:17px;margin:4px">@Model.UserName</p>
                            <a href="@Url.Action("Edit", "Profile")" style="background-color:darkgray;margin:2px;font-size:15px" class="edit-profile-link">Edit profile</a>
                        </div>
                        <div class="general_info">
                            <p><span>@Model.Posts.Count</span> post</p>
                            <a id="FollowersCounter" asp-action="showFollowers" asp-controller="Follow" style="color:black ; margin:2px" class="ClickFollowers"> @Model.Followers.Count</a> <a style="color:black; margin:2px" asp-action="showFollowers" asp-controller="Follow" asp-route-ProfileUserViewModel="@Model" class="ClickFollowers"> Followers</a>
                            <a id="FolloweesCounter" asp-action="showFollowees" asp-controller="Follow" style="color:black ; margin:2px" class="ClickFollowing"> @Model.Following.Count</a> <a style="color:black; margin:2px" asp-action="showFollowees" asp-controller="Follow" asp-route-ProfileUserViewModel="@Model" class="ClickFollowing"> Following</a>
                        </div>
                        <p class="nick_name">@Model.FirstName  @Model.LastName</p>
                        <p class="desc">
                            @Model.Bio
                        </p>
                    </div>
                </div>
            </div>
            <div class="highlights">
                <div class="highlight">
                    <div class="img">
                        <img src="~/images/@Model.ProfilePicture.Name" alt="">
                    </div>
                    <p>conseils</p>
                </div>
                <div class="highlight highlight_add">
                    <div class="img">
                        <img src="/images/plus.png" alt="">
                    </div>
                    <p>New</p>
                </div>
            </div>
            <hr>
            <div class="posts_profile">
                <ul class="nav-pills w-100 d-flex justify-content-center" id="pills-tab" role="tablist">
                    <li class="nav-item mx-2" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                            <img src="/images/feed.png" alt="posts">
                            POSTS
                        </button>
                    </li>
                    <li class="nav-item mx-2" role="presentation">
                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                            <img src="/images/save-instagram.png" alt="saved posts">
                            SAVED
                        </button>
                    </li>
                    <li class="nav-item mx-2" role="presentation">
                        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                            <img src="/images/tagged.png" alt="tagged posts">
                            TAGGED
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                        <div id="posts_sec" class="post">

                            @foreach(var post in Model.Posts)
                            {
                                @foreach(var photo in post.PhotosPathes)
                                {
                                    <div class="item">
                                        <img class="img-fluid item_img" src="~/images/@photo" alt="">
                                    </div>
                                }
                            }
                            

                            @* <div class="item">
                                <img class="img-fluid item_img" src="https://i.ibb.co/2ZxBFVp/img2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-fluid item_img" src="https://i.ibb.co/5vQt677/img3.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-fluid item_img" src="https://i.ibb.co/pJ8thst/account13.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-fluid item_img" src="https://i.ibb.co/j8L7FPY/account10.jpg" alt="">
                            </div> *@
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                        <div id="saved_sec" class="post">
                            <div class="item">
                                <img class="img-fluid item_img" src="https://i.ibb.co/6WvdZS9/account12.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-fluid item_img" src="https://i.ibb.co/pJ8thst/account13.jpg" alt="">
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
                        <div id="tagged" class="post">
                            <div class="item">
                                <img class="img-fluid item_img" src="https://i.ibb.co/Zhc5hHp/account4.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-fluid item_img" src="https://i.ibb.co/SPTNbJL/account5.jpg" alt="">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    @*     <!--Create model-->
        <div class="modal fade" id="create_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title w-100 fs-5 d-flex align-items-end justify-content-between"
                            id="exampleModalLabel">
                            <span class="title_create">Create new post</span>
                            <button class="next_btn_post btn_link"></button>
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img class="up_load" src="/images/upload.png" alt="upload">
                        <p>Drag photos and videos here</p>
                        <button class="btn btn-primary btn_upload">
                            select from your computer
                            <form id="upload-form">
                                <input class="input_select" type="file" id="image-upload" name="image-upload">
                            </form>
                        </button>
                        <div id="image-container" class="hide_img">
                        </div>
                        <div id="image_description" class="hide_img">
                            <div class="img_p"></div>
                            <div class="description">
                                <div class="cart">
                                    <div>
                                        <div class="img">
                                            <img src="~/images/@Model.ProfilePicture.Name">
                                        </div>
                                        <div class="info">
                                            <p class="name">@Model.UserName</p>
                                        </div>
                                    </div>
                                </div>
                                <form>
                                    <textarea type="text" id="emoji_create" placeholder="write your email"></textarea>
                                </form>
                            </div>
                        </div>
                        <div class="post_published hide_img">
                            <img src="/images/uploaded_post.gif" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> *@

@* 
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <!-- Modal content -->
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Search bar -->
                   
                    <!-- Search results will be displayed here -->
                    <div id="searchResults"></div>
                    <li class="nav-item">
                        <form class="form-inline" id="searchForm" method="get" asp-action="ShowFollowers" asp-controller="Follow">
                           
                            <input class="form-control me-2" placeholder="Search..." id="NameSearch" name="Name" type="text">
                            <input type="submit" class="btn btn-primary btn-sm mt-1" value="Search">
                        </form>
                    </li>

                    @if (ViewBag.searchFollowers == null)
                    {

                        @foreach (var follower in Model.Followers)
                        {
                            <tr>

                                <td>@follower.Follower.UserName</td>
                            </tr>
                        }
                    }
                    else
                    {
                        @foreach (var follower in ViewBag.searchFollowers)
                        {
                            <tr>

                                <td>@follower.UserName</td>
                            </tr>
                        }
                    }


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div> *@

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-pz0r7Pz0cHpXkzF5q1z5byXPxJph0XaP7ADkiJviu9CSnBohR+K5f2GO/dAiS6+J" crossorigin="anonymous"></script>

    <!-- Your other scripts -->

   @*  <script>
        // Wait for the document to be fully loaded
        document.addEventListener("DOMContentLoaded", function () {
            // Find all elements with the class 'ClickFollowers'
            var followersLinks = document.querySelectorAll('.ClickFollowers');

            // Iterate over each element and add a click event listener
            followersLinks.forEach(function (link) {
                link.addEventListener('click', function (event) {
                    // Prevent the default action of the anchor tag
                    event.preventDefault();

                    // Show the modal programmatically
                    var modal = new bootstrap.Modal(document.getElementById('exampleModal'));
                    modal.show();
                });
            });
        });
    </script> *@


    @* <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script src="/owlcarousel/jquery.min.js"></script>
    <script src="/owlcarousel/owl.carousel.min.js"></script>
    <script src="/js/carousel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>