@model List<Chat>

<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>

</head>
<body>

    <div id="message">
        <div class="message_container">
            <div class="persons">
                <div class="account_name">
                    <p>@ViewBag.UserName</p>
                </div>
                <div class="account_message">
                    <div class="desc">
                        <p>Chats</p>
                    </div>

                    @foreach (var chat in Model)
                    {
                        <!-- Determine which user's name to display based on the current user's ID -->
                        var currentUserId = ViewBag.SenderId;
                        var userName = currentUserId == chat.SenderId ? chat.Reciever.UserName : chat.Sender.UserName;
                        var profilepicture = currentUserId == chat.SenderId ? chat.Reciever.ProfilePicture?.Name : chat.Sender.ProfilePicture?.Name;
                        <div class="cart">
                            <div>
                                <div class="img">
                                    <!-- Make sure to use proper syntax to render the profile picture -->
                                    <img src="~/images/@profilepicture" alt="">
                                </div>
                                @*asp-route-senderId="@chat.SenderId" asp-route-chatId="@chat.id" asp-route-receiverId="@chat.RecieverId" *@
                                <div class="info">
                                    <a class="name">@userName</a>
                                    <input type="hidden" class="senderId" value="@chat.SenderId" />
                                    <input type="hidden" class="chatId" value="@chat.id" />
                                    <input type="hidden" class="receiverId" value="@chat.RecieverId" />


                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
            <div id="openChatContainer" class="message">

            </div>

        </div>
    </div>
    <!-- Index.cshtml -->

</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Include the SignalR library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.8/signalr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0/signalr.min.js"
        integrity="sha512-7rhBJh1om/W5Ztx7WiYOR9h2wlSaTmPyQMoHFtbT/FVNIA12y6S6I8HY9mrBS1uJ3dSU/R3qaSAXsGYuRjMDxg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
    $(document).ready(function () {
        $('.name').click(function (e) {
            // Prevent the default behavior of the link
            e.preventDefault();



            // Get the values of senderId, chatId, and receiverId relative to the clicked link
            var senderId = $(this).closest('.info').find('.senderId').val();
            var chatId = $(this).closest('.info').find('.chatId').val();
            var receiverId = $(this).closest('.info').find('.receiverId').val();



            // Send AJAX request to load the open chat partial view
            $.ajax({
                url: "/chat/openchat/",
                type: 'GET',
                data: { senderId: senderId, chatId: chatId, receiverId: receiverId },
                success: function (response) {
                    console.log('Response from server:', response);
                    $('#openChatContainer').html(response); // Load the response into the container
                },
                error: function (xhr, status, error) {
                    console.error(error); // Log any errors to the console
                }
            });
        });
    });
</script>
