@model List<Chat>

<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <!-- Include the SignalR library -->
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.8/signalr.min.js"></script> *@
</head>
<body>
    <h1 style="margin-left:500px">Chats</h1>

    <div id="messageContainer" style="margin-left:500px">
        @foreach (var chat in Model)
        {
            <div>
                <a asp-controller="Chat" asp-action="OpenChat" asp-route-senderId="@chat.SenderId" asp-route-chatId="@chat.id" asp-route-receiverId="@chat.RecieverId">@chat.Sender.UserName</a>
                <span>@chat.messages</span>
            </div>
        }
    </div>



     
</body>
</html>
