@model Instagram_Clone.Models.Message
@{
    Layout = null;
}

<input type="hidden" id="receiverId" value="@ViewBag.receiverId"/>
<input type="hidden" id="chatId" value="@ViewBag.chatId" />



<div class="options">

    <div class="cart">
        <div>

            <div class="info">
                <p class="name">@ViewBag.senderName</p>
            </div>
        </div>
    </div>
</div>

<div id="Conv" class="content">
@if (ViewBag.Messages != null)
{
    @foreach (var message in ViewBag.Messages)
    {

        @if (ViewBag.SenderId == message.SenderId)
        {
            <div class="my_message">
                <p class="p_message">@message.Content</p>
            </div>
        }
        else
        {
            <div class="response_message">
                <p class="p_message">@message.Content</p>
            </div>
        }
    }
}
</div>



<div class="form-group">

    <input asp-for="Content" id="messageInput" class="form-control" placeholder="Your Message..." />
    <input type="button" onclick="sendMessage()" value="Send" class="btn btn-primary" />


</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0/signalr.min.js"
        integrity="sha512-7rhBJh1om/W5Ztx7WiYOR9h2wlSaTmPyQMoHFtbT/FVNIA12y6S6I8HY9mrBS1uJ3dSU/R3qaSAXsGYuRjMDxg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    // Establish a connection to the SignalR hub
    var connection = new signalR.HubConnectionBuilder()
        .withUrl("/ChatH")
        .build();

    connection.start().then(function () {
        console.log("SignalR Connected");

        // Scroll to the bottom of the chat window when the page is loaded
        scrollToBottom();
    });

    // Function to scroll to the bottom of the chat window
    function scrollToBottom() {
        var chatWindow = document.getElementById("Conv");
        chatWindow.scrollTop = chatWindow.scrollHeight;
    }

    // Receive message from the server
    connection.on("ReceiveMessage", function (messageInput, senderId, date) {
        // Check if the message is from the sender or the receiver
        if (senderId === "@ViewBag.senderId") {
            $("#Conv").append('<div class="my_message"><p class="p_message">' + messageInput + '</p></div>');
        } else {
            $("#Conv").append('<div class="response_message"><p class="p_message">' + messageInput + '</p></div>');
        }

        // Scroll to the bottom of the chat window after appending the message
        scrollToBottom();
    });

    // Function to send a message to the Server Basha
    function sendMessage() {
        var messageInput = $("#messageInput").val();
        var receiverId = $("#receiverId").val();
        var chatId = $("#chatId").val();

        connection.invoke("SendMessage", messageInput, receiverId, chatId);
    }
</script>










